<p id="notice"><%= notice %></p>

<div class="container">
  <br>
  <p>Please <%= link_to "register", new_user_path %> to be able to list your pets.</p>
</div>

<div class="container">
  <h1>Listing Pets</h1>


  <% @pets.each do |pet| %>
    <div class="row">
      <div class="col-md-3 div-main pet-image"><%= image_tag(pet.image) %></div>
      <div class="col-md-3 div-main">
        <div class="pet-name"><%= link_to pet.name, pet %></div>
        <div class="pet-availability">AVAILABILITY</div>
        <div class="div-minor">
          <div class="pet-price"><%= pet.price %></div>
          <div class="pet-rating"><%= pet.rating %></div>
        </div>
      </div>
      <!-- <%= link_to 'Show', pet %></div>   -->
      <div class="col-md-6 div-main pet-description"><%= pet.description %></div>
    </div>
  <% end %>
</div>

<%= form_tag '/index', :method => 'get', id: "search-form" do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search name" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= link_to 'New Pet', new_pet_path %>
<%= link_to 'Users', users_path %>
