<p id="notice"><%= notice %></p>

<div class="background-image">
  <div class="jumbotron container-fluid">

  </div>
</div>

<div class="container-index">
  <div class="container">
    
    <% @pets.each do |pet| %>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <img ><%= image_tag(pet.image, class: "cover") %></img>
          </div>
        </div>

        <div class="col-sm-12 col-md-8">

          <div class="thumbnail">
            <div class="col-md-6">
              <div class="pet-name"><strong><%= pet.name %></strong></div>
              <div class="pet-availability">AVAILABILITY</div>
              <div class="div-minor">
                Price renting per day: <span class="glyphicon glyphicon-euro"></span> <%= pet.price %>
                <br/>
                Rating: <%= pet.rating %><span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="pet-description">
                <p><strong>Description:</strong></p>
                  <p><%= pet.description %></p>

                <div class="button-more"><p><%= link_to "Rent Me!", pet, class: "btn btn-primary pull-right", role: "button" %></p></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
    <%= link_to 'New Pet', new_pet_path, class: "btn btn-default" %> |
    <%= link_to 'Users', users_path, class: "btn btn-default" %>
  </div>
</div>
