<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@pet.image) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pet.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pet.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @pet.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
