<div class="container-layout">
  <nav class="navbar transparent navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <%= link_to "PetMe", root_path, class: "navbar-brand" %>
        <div class="search-btn">
          <%= form_tag '/index', :method => 'get', id: "search-form", class: "navbar-form navbar-left", role:"search" do %>
          <div class="form-group">
            <p>
              <%= text_field_tag :search, params[:search], placeholder: "Search name", class: "form-control" %>
              <%= submit_tag "Search", :name => nil, class:"btn btn-default" %>
            </p>
            <% end %>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% else %>
                <li><span class="navbar-text"><%= current_user.email %></span></li>
                <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
  </nav>
</div>
