<!DOCTYPE html>
<html>
<head>
  <title>PetMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- <p class="notice"><%= notice %></p> -->


</head>
<body>
  <%= render "layouts/navbar" %>


    <%= yield %>


  <%= render "layouts/footer" %>

  </body>
</html>
