<!DOCTYPE html>
<html>
<head>
  <title>PetMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-show">
    <div class="container-layout">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "PETme", root_path, class: "navbar-brand" %>
          </div>
        </div>
      </nav>

    <%= yield %>
    </div>

    <div id="footer">
      <p class="footer">Created by us with love!<span class="glyphicon glyphicon-heart"></span>
    </div>
  </div>



</body>
</html>
